doctype 5
html
  head
    title raspberry2cjs
    link(rel='stylesheet', href='/css/bootstrap.min.css') 
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    script(data-main="javascripts/main", src="js/bootstrap.min.js")
  body
    block content
